 button:hover {
  /* background-color: #FF6F6988; */
  background-image: linear-gradient(to bottom right, #B4534E, #DD625C, #EE6661, #FF6F69, #FF918C, #FFA7A3);
  color:white;
  text-shadow:1px 1px black;
}

 button {
  /*background-color:#FF6F69;*/
  background-image: linear-gradient(to bottom right, #FFA7A3, #FF918C, #FF6F69,#EE6661, #DD625C, #B4534E);
  color:white;
  font-size:20px;
  font-weight:5;
  text-shadow:1px 1px black;
}

.quiz {
  background-image: linear-gradient(to bottom right, #056C89, #FF6F69, #ffcc5c);
  width:100%;
  height:100%;
  margin:auto;
  width: 1200px;
  min-height: 500px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  
}

.submit-button {
  position: absolute;
  top: 45%;
  left: 47.5%;
}

.question-total {
  position: absolute;
  top: 6%;
  left: 26%;
}



