.login {
  height: 100vh;
  background-image: linear-gradient(90deg, #ff6f69ff, #ffcc5cff);
  text-align: center;
}

.login-input {
  margin-top: 5rem;
  text-align: center;
}

.login input {
  padding: 1rem;
}

.login h1 {
  padding-top: 15vh;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 50px;
  color: #056c89ff;
}

.login button {
  text-align: center;
  padding: 10px 30px;
  background-color: #056c89ff;
  border: #056c89ff;
  color: white;
  margin-top: 2rem;
}
