.mediaIcons {
    width: 100px;
    height: 100px;
}
.editprofile {
    float: right;
    padding-right: 40px;
    padding-top: 5px;
}
.profilePic {
   float: right;
  

}
.moveRight {
    margin-left: 70px
}

.extraSpacing {
    padding-bottom: 100px;
}

.profilePageBackground {
    background-color: #FFCC5C;
    min-height: 100vh;
}