.homepage {
    background-color:#056C89;
}

h1 {
    color:white;
    text-shadow: 1px 1px black;
    font-size:0px;
}

.main {
        display:flex;
        width: 60%;
        margin:auto;
        background-color:white;
        border:10px #d39308 outset;
        border-radius : 15px;
        justify-content:center;
}

h2 {
    color:#FF6F69;
    font-style:italic;
    margin-top:5%;
    text-shadow: 1px 1px black;
}

.labelStyle {
    color:#FF6F69; 
    font-size:16px;
    width:48%;
    margin-bottom:15px;
    text-shadow: 1px 1px black;
    font-weight:5;
    margin-right:5%;
    margin-left:5%;
}

.textLabelStyle {
    color:#FF6F69; 
    font-size:16px;
    height:20%;
    text-shadow:1px 1px black;
    margin-right:10%;
    margin-left:5%;
    width:25%;



}
.textAreaStyle {
    height:75px;
    width:300px;
    margin-right:5%;
}